.container{
    margin-bottom: 100px;
}

.bg-color{
    background-color: #feeae9;
    padding: 30px 40px;
}

.price{
    color: #ff136f;
}

.buy-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
}

.category{
    padding: 10px 30px;
    border-radius: 10px;
}

.category img{
    width: 100px;
}

.category-start{
    background-color: orange;
}

.category-middle{
    background-color: orchid;
}

.category-end{
    background-color: blue;
}

.card{
    border-radius: 10px;
}

.card-body{
    padding-left: 20px;
    padding-bottom: 20px;
}

.btn-footer{
    margin-left: 20px;
    margin-bottom: 20px;
}

.subscribe{
    height: 300px;
    border-radius: 10px;
    background-color: #fceae8;
}